---
import { Image } from "astro:assets";
import Layout from "@/layouts/layout.astro";
import PlanteImg from "@/assets/images/plante.jpg";
import PlatImg from "@/assets/images/plat.jpg";

import { getImage } from "astro:assets";

const optimizedPlanteImage = await getImage({
	src: PlanteImg,
	format: "webp",
	widths: [240, 540, 720, 980, PlanteImg.width],
	loading: "eager",
});

const optimizedPlatImage = await getImage({
	src: PlatImg,
	format: "webp",
	widths: [240, 540, 720, 980, PlatImg.width],
	loading: "eager",
});
---

<Layout overflow={false}>
	<Fragment slot="head-preload">
		<link
			rel="preload"
			href={optimizedPlanteImage.src}
			as="image"
			imagesrcset={optimizedPlanteImage.srcSet.attribute}
			imagesizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 980px) 720px, (max-width: 1600px) 980px, ${PlanteImg.width}px`}
		/>
		<link
			rel="preload"
			href={optimizedPlatImage.src}
			as="image"
			imagesrcset={optimizedPlatImage.srcSet.attribute}
			imagesizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 980px) 720px, (max-width: 1600px) 980px, ${PlatImg.width}px`}
		/>
	</Fragment>

	<div class="flex flex-col w-full h-full md:flex-row">
		<div class="flex-1 h-1/2 md:h-full">
			<Image
				src={optimizedPlanteImage.src}
				width={PlanteImg.width}
				height={PlanteImg.height}
				sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 980px) 720px, (max-width: 1600px) 980px, ${PlanteImg.width}px`}
				alt="A description of my image."
				class="w-full h-full object-cover"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
		<div class="flex-1 h-1/2 md:h-full">
			<Image
				src={optimizedPlatImage.src}
				width={PlatImg.width}
				height={PlatImg.height}
				sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 980px) 720px, (max-width: 1600px) 980px, ${PlatImg.width}px`}
				alt="A description of my image."
				class="w-full h-full object-cover"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
	</div>
</Layout>
