---
import { Image } from "astro:assets";
import Layout from "@/layouts/layout.astro";
import PlanteImg from "@/assets/images/plante.webp";
import PlatImg from "@/assets/images/plat.webp";
import AnimatedLink from "@/components/animated-link";
import { getImage } from "astro:assets";
import { cn } from "@/utils/libs/tailwaind";
import { VeganIcon } from "lucide-react";
import AnimatedText from "@/components/animated-text";
const optimizedPlanteImage = await getImage({
	src: PlanteImg,
	format: "webp",
	widths: [240, 540, 720, 980, PlanteImg.width],
	loading: "eager",
});

const optimizedPlatImage = await getImage({
	src: PlatImg,
	format: "webp",
	widths: [240, 540, 720, 980, PlatImg.width],
	loading: "eager",
});
---

<Layout overflow={false}>
	<Fragment slot="head-preload">
		<link
			rel="preload"
			href={optimizedPlanteImage.src}
			as="image"
			imagesrcset={optimizedPlanteImage.srcSet.attribute}
			imagesizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 980px) 720px, (max-width: 1600px) 980px, ${PlanteImg.width}px`}
		/>
		<link
			rel="preload"
			href={optimizedPlatImage.src}
			as="image"
			imagesrcset={optimizedPlatImage.srcSet.attribute}
			imagesizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 980px) 720px, (max-width: 1600px) 980px, ${PlatImg.width}px`}
		/>
	</Fragment>

	<main class="flex flex-col w-full h-full md:flex-row">
		<h1 class="sr-only">Mauvaise herbe restaurant</h1>
		<div class="relative flex-1 h-1/2 md:h-full">
			<AnimatedText
				client:load
				className="absolute bottom-0 left-1/2 -translate-x-1/2 z-10 h-fit text-6xl text-primary uppercase font-bold text-shadow md:top-16 md:right-3 md:left-auto md:translate-x-0 md:text-8xl"
			>
				Mauvaise
			</AnimatedText>

			<Image
				src={optimizedPlanteImage.src}
				width={PlanteImg.width}
				height={PlanteImg.height}
				sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 980px) 720px, (max-width: 1600px) 980px, ${PlanteImg.width}px`}
				alt="Un plat du restaurant"
				class="w-full h-full object-cover"
				loading="eager"
				fetchpriority="high"
			/>

			<div class="absolute inset-0 z-10 m-auto text-center w-fit h-fit">
				<h2 class="mb-3 p-1 pb-2 text-4xl text-white text-shadow backdrop-blur-xs uppercase md:text-5xl">
					Notre carte
				</h2>

				<AnimatedLink
					client:load
					title="Redirection à la page de la carte du restaurant"
					href="/carte"
					className="bg-primary/90"
				>
					Voir la carte des menus
				</AnimatedLink>
			</div>

			<div
				class={cn(
					"absolute inset-0",
					"bg-gradient-to-t from-white/10 to-transparent",
					"after:block after:w-full after:h-full after:bg-gradient-to-t after:from-white/50 after:to-transparent after:opacity-0 after:transition-opacity after:duration-600"
				)}
			>
			</div>
		</div>

		<div class="relative flex-1 h-1/2 group md:h-full">
			<div
				class="absolute top-0 left-1/2 -translate-x-1/2 z-10 flex items-end gap-2 h-fit text-6xl text-green-700 text-dark text-shadow font-bold uppercase md:text-8xl md:top-16 md:pt-8 md:left-3 md:translate-x-0"
			>
				<AnimatedText client:load delay={0.3}>Herbe</AnimatedText>

				<AnimatedText client:load delay={0.6}>
					<VeganIcon
						className="mb-1 ml-1 w-6 h-6 min-h-6 min-w-6 text-green-700 md:w-7 md:h-7 md:mb-2 md:ml-2 md:stroke-[2.5]"
					/>
				</AnimatedText>
			</div>

			<Image
				src={optimizedPlatImage.src}
				width={PlatImg.width}
				height={PlatImg.height}
				sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 980px) 720px, (max-width: 1600px) 980px, ${PlatImg.width}px`}
				alt="Un plat du restaurant"
				class="w-full h-full object-cover"
				loading="eager"
				fetchpriority="high"
			/>

			<div class="absolute inset-0 z-10 m-auto text-center w-fit h-fit">
				<h2 class="mb-3 p-1 pb-2 text-4xl text-white text-shadow backdrop-blur-xs uppercase md:text-5xl">
					Réservation
				</h2>

				<AnimatedLink
					client:load
					title="Redirection à la page de réservation du restaurant"
					href="/reservation"
					className="bg-green-700/90"
				>
					Réserver une table
				</AnimatedLink>
			</div>
			<div
				class={cn(
					"absolute inset-0",
					"bg-gradient-to-t from-white/10 to-transparent",
					"after:block after:w-full after:h-full after:bg-gradient-to-t after:from-white/50 after:to-transparent after:opacity-0 after:transition-opacity after:duration-600"
				)}
			>
			</div>
		</div>
	</main>
</Layout>
