---
import HatPopoverSVG from "@/assets/icons/hat-popover.svg?raw";

type Props =
	| {
			message: string;
			toTop?: true;
			toBottom?: never;
	  }
	| {
			message: string;
			toBottom?: true;
			toTop?: never;
	  };

const { message, toBottom } = Astro.props;
const unique_id = crypto.randomUUID();
const email = import.meta.env.PUBLIC_EMAIL;
---

<button popovertarget={unique_id}
	><slot />
	<div popover id={unique_id}></div>
	<div class:list={["email-fading", "fading-in", toBottom ? "to-bottom" : "to-top"]} set:html={HatPopoverSVG}>
		{message}
	</div>
</button>

<script is:inline define:vars={{ unique_id, email }}>
	document.querySelector("[popovertarget='" + `${unique_id}` + "']").addEventListener("click", async () => {
		await window.navigator.clipboard.writeText(email);
	});
</script>

<style>
	[popovertarget] {
		position: relative;
	}

	/* TODO hack because overlay: none is not really well implemented on browsers */
	[popover] + div {
		position: absolute;
		left: 50%;
		top: 3.4rem;
		transform: translateX(-50%);
		z-index: 2;
		display: none;
		width: max-content;
		height: auto;
		padding: 0.5rem;
		border-radius: 8px;
		text-align: center;
		font-size: var(--text-sm);
		background-color: var(--text-primary);
		color: var(--bg-primary);

		transition:
			opacity var(--default-transition-duration) ease-out,
			transform calc(var(--default-transition-duration) * 3) var(--transition-spring);

		@starting-style {
			opacity: 0;
			transform: translate(-50%, -1rem);
		}
	}

	[popover]:popover-open + div {
		display: block;
	}
</style>

<style is:global>
	.email-fading {
		svg {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -0.9rem;
			width: 2.4rem;
			height: 2.4rem;
			text-align: center;
			color: var(--text-primary);
		}

		&.to-top {
			top: -3.5rem !important;

			svg {
				top: 0.7rem;
				transform: rotate(180deg) translateX(50%);
			}

			@media screen and (max-width: 640px) {
				transform: translateX(0) !important;
				svg {
					display: none;
				}
			}
		}
	}
</style>
