---
import FacebookSVG from "@/assets/icons/facebook.svg?raw";
import InstagramSVG from "@/assets/icons/instagram.svg?raw";
import ArrowMailRightSVG from "@/assets/icons/arrow-right-mail.svg?raw";
import MapSVG from "@/assets/icons/map.svg?raw";
import PhoneSVG from "@/assets/icons/phone.svg?raw";
import EmailSVG from "@/assets/icons/mail.svg?raw";
import { motion } from "framer-motion";
import { EMAIL_CONTACT } from "astro:env/client";
const id_email_contact = "email-contact";
const id_current_year = "current-year";

const siteMap = [
	{ name: "Accueil", href: "/" },
	{ name: "Présentation", href: "/presentation" },
	{ name: "Menu", href: "/menu" },
	{ name: "Evenements", href: "/evenements" },
	{ name: "Contact", href: "/contact" },
	{ name: "Réservation", href: "/reservation" },
];
---

<footer class="grid grid-cols-6 grid-rows-4">
	<p class="flex items-center gap-2 col-span-6 md:col-span-2">
		<span set:html={MapSVG} class="w-5 h-5" />
		3 le Fond du Barri, 81140 le Verdier
	</p>
	<p class="hidden font-bold col-span-4 justify-self-end content-center md:block">
		Plan du site
	</p>
	<p class="flex items-center gap-2 col-span-6 md:col-span-2">
		<span set:html={PhoneSVG} class="w-5 h-5" />
		05 67 72 00 86
	</p>
	<nav class="hidden items-center justify-self-end md:flex md:col-span-4" aria-label="Plan du site">
		<ul class="flex items-center gap-4">
			{
				siteMap.map(({ name, href }) => (
					<li>
						<a href={href} class="text-xs px-0 mx-0">
							{name}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
	<p class="flex items-center gap-2 col-span-6">
		<span set:html={EmailSVG} class="w-5 h-5" />
		{EMAIL_CONTACT}
	</p>
	<p class="relative col-span-6 text-sm sm:col-span-3 pt-2">
		Vous souhaitez nous trouver sur les différents réseaux sociaux ? Cliquez sur les icônes pour être
		redirigés.
		<span
			class:list={[
				"hidden absolute translate-full [&>svg]:max-w-[23rem]",
				"sm:inline sm:[&>svg]:w-[calc(40vw-8.5rem)] sm:-right-1 sm:bottom-8 sm:rotate-22",
				"md:[&>svg]:w-[calc(40vw-9rem)] md:bottom-[calc(1rem+2vw)] md:rotate-9",
				"lg:inline lg:[&>svg]:w-[calc(20vw+7rem)] lg:-right-2 lg:bottom-18 lg:-rotate-2",
				"xl:inline xl:[&>svg]:w-[calc(24vw+8rem)] xl:-right-2 xl:bottom-25 xl:-rotate-1",
				"2xl:inline 2xl:[&>svg]:w-[calc(24vw+5rem)] 2xl:-right-2 2xl:bottom-[calc(7vw)] 2xl:-rotate-1",
			]}
			set:html={ArrowMailRightSVG}
		/>
	</p>

	<p class="block col-span-6 self-end mt-5" id="copyright-container">
		© <span id={id_current_year}>2000</span>
		Tous droits réservés <span class="font-bold underline underline-offset-3">Etienne Zurawsky</span> &
		<span class="font-bold underline underline-offset-3"> Maria Gulstam</span>.
	</p>

	<div
		class="col-start-1 col-span-2 flex justify-start items-start gap-x-10 my-3 fading-in sm:gap-x-4 sm:col-start-5 sm:justify-end sm:my-0"
		id="social-links"
	>
		<motion.a
			client:visible
			whileHover={{ scale: 1.1 }}
			transition={{ stiffness: 400, damping: 10, duration: 0.1 }}
			target="_blank"
			href="https://www.instagram.com/restaurant_mauvaiseherbe/?hl=fr"
			title="Ouvre le comtpe Instagram dans un nouvel onglet"
			className="w-15 h-15 min-w-15"
		>
			<Fragment set:html={InstagramSVG} />
		</motion.a>
		<motion.a
			client:visible
			whileHover={{ scale: 1.1 }}
			transition={{ stiffness: 400, damping: 10, duration: 0.1 }}
			title="Ouvrele compte Facebook dans un nouvel onglet"
			target="_blank"
			href="https://www.facebook.com/people/Restaurant-Mauvaise-Herbe/61559086842872/"
			className="w-15 h-15 min-w-16"
		>
			<Fragment set:html={FacebookSVG} />
		</motion.a>
	</div>
</footer>



<style>
	footer {
		width: 100%;
		max-width: var(--max-width-layout);
		margin-inline: auto;
		font-size: 0.7rem;
		padding: 2rem;
		background-color: var(--color-primary);
		color: #fff;

		a {
			text-decoration: underline;
			text-underline-offset: 3px;
		}

		p {
			font-size: var(--text-sm);
		}

		a:not(.page),
		button {
			padding-inline: 0.8rem;
		}

		ul li a {
			padding-inline: 0 !important;
		}
	}
</style>
