---
import MailSVG from "@/assets/icons/mail.svg?raw";
import LinkedinSVG from "@/assets/icons/linkedin.svg?raw";
import ArrowMailRightSVG from "@/assets/icons/arrow-right-mail.svg?raw";
import PopoverCard from "@/components/popover-card.astro";
import MapSVG from "@/assets/icons/map.svg?raw";
import PhoneSVG from "@/assets/icons/phone.svg?raw";

const id_email_contact = "email-contact";
const email = import.meta.env.PUBLIC_EMAIL;
const id_current_year = "current-year";
---

<footer class="grid grid-cols-6 grid-rows-4">
	<p class="flex items-center gap-2 col-span-6">
		<span set:html={MapSVG} class="w-5 h-5" />
		bla bla bla, 31500 blablabla
	</p>
	<p class="flex items-center gap-2 col-span-6 mb-5">
		<span set:html={PhoneSVG} class="w-5 h-5" />
		06 01 02 03 04
	</p>
	<p class="relative col-span-6 text-sm sm:col-span-3">
		Vous souhaitez nous contacter par e-mail ? Cliquez sur l'icône mail pour ajouter notre adresse email à
		votre clipboard.
		<span
			class:list={[
				"hidden absolute translate-full [&>svg]:max-w-[23rem]",
				"sm:inline sm:[&>svg]:w-[calc(40vw-8.5rem)] sm:-right-1 sm:bottom-8 sm:rotate-22",
				"md:[&>svg]:w-[calc(40vw-9rem)] md:bottom-[calc(1rem+2vw)] md:rotate-8",
				"lg:inline lg:[&>svg]:w-[calc(20vw+6rem)] lg:-right-2 lg:bottom-12 lg:-rotate-2",
			]}
			set:html={ArrowMailRightSVG}
		/>
	</p>

	<p class="col-span-6 self-end">
		© <span id={id_current_year}>2000</span>
		Tous droits réservés Ethienne.
	</p>

	<div
		class="col-start-1 col-span-2 flex justify-start items-start gap-x-8 my-3 fading-in sm:gap-x-4 sm:col-start-5 sm:justify-end sm:my-0"
	>
		<PopoverCard toTop message={"Email copié"} set:html={MailSVG} />
		<a
			title={`Open linkedin`}
			target="_blank"
			href={import.meta.env.PUBLIC_LINKEDIN_URL}
			set:html={LinkedinSVG}
		/>
	</div>
</footer>

<script is:inline define:vars={{ id_email_contact, email, id_current_year }}>
	// in case website is SSG we set the date in js for every refresh
	document.getElementById(id_current_year).textContent = new Date().getFullYear();
</script>

<style>
	footer {
		width: 100%;
		max-width: var(--max-width-layout);
		margin-inline: auto;
		font-size: 0.7rem;
		padding: 2rem;
		background-color: var(--color-primary);
		color: #fff;

		a {
			text-decoration: underline;
			text-underline-offset: 3px;
		}

		p {
			font-size: var(--text-sm);
		}

		a:not(.page),
		button {
			padding-inline: 0.8rem;
		}
	}
</style>
