---
import { cn } from "@/utils/libs/tailwind";
import FlagEN from "@/assets/icons/flag-en.svg";
import FlagFR from "@/assets/icons/flag-fr.svg";
import LogoComplete from "@/assets/images/logo_complete.webp";
import { Image } from "astro:assets";

const currentUrl = Astro.url.pathname;

const navigation = [
	{ name: "Concept", href: currentUrl.startsWith("/en") ? "/en/concept" : "/concept" },
	{ name: "Cuisine", href: currentUrl.startsWith("/en") ? "/en/cuisine" : "/cuisine" },
	{ name: "Caviste", href: currentUrl.startsWith("/en") ? "/en/caviste" : "/caviste" },
	{ name: "Agenda", href: currentUrl.startsWith("/en") ? "/en/agenda" : "/agenda" },
	{ name: "Equipe", href: currentUrl.startsWith("/en") ? "/en/equipe" : "/equipe" },
	{ name: "Contact", href: currentUrl.startsWith("/en") ? "/en/contact" : "/contact" },
];
---

<header class="bg-white shadow-sm">
	<nav
		class="mx-auto flex max-w-7xl items-center justify-end p-6 md:px-8"
		aria-label="Navigation principale"
	>
		<div class="absolute top-10 left-5">
			<a href={currentUrl.startsWith("/en") ? "/en" : "/"} class="-m-1.5 p-1.5">
				<span class="sr-only">Votre Restaurant</span>
				<span class="flex items-center gap-2 whitespace-nowrap font-serif text-stone-800"
					><Image src={LogoComplete} alt="Logo du restaurant" class="w-auto h-18" /></span
				>
			</a>
		</div>
		<div class="flex lg:hidden">
			<button
				type="button"
				id="menu-open"
				class="inline-flex items-center justify-center p-2.5 text-stone-700"
			>
				<span class="sr-only">Ouvrir le menu principal</span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="h-6 w-6"
					aria-hidden="true"
				>
					<line x1="4" x2="20" y1="12" y2="12"></line><line x1="4" x2="20" y1="6" y2="6"></line><line
						x1="4"
						x2="20"
						y1="18"
						y2="18"></line>
				</svg>
			</button>
		</div>
		<div class="hidden lg:flex md:gap-x-8 lg:gap-x-10">
			{
				navigation.map((item) => (
					<a
						href={item.href}
						class={cn(
							"p-3 text-sm font-semibold leading-6 hover:text-primary transition-colors uppercase",
							currentUrl === item.href && " text-primary!"
						)}
					>
						{item.name}
					</a>
				))
			}
		</div>
		<!-- <div class="hidden lg:flex md:flex-1 md:justify-end lg:max-w-36 xl:max-w-80">
			{
				currentUrl.startsWith("/en") ? (
					<a href={currentUrl.replace("/en", "")}>
						<FlagFR class="w-9 h-9 hover:scale-110 transition-all duration-200" />
					</a>
				) : (
					<a href={"/en" + currentUrl}>
						<FlagEN class="w-9 h-9 hover:scale-110 transition-all duration-200" />
					</a>
				)
			}
		</div> -->
	</nav>

	<!-- Mobile menu -->
	<div id="mobile-menu" class="hidden lg:hidden" role="dialog" aria-modal="true">
		<div class="fixed inset-0 z-50"></div>
		<div
			class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
		>
			<div class="flex items-center justify-between">
				<a href="/" class="-m-1.5 p-1.5">
					<span class="sr-only">Votre Restaurant</span>
					<span class="flex items-center gap-2 text-xl font-serif whitespace-nowrap text-stone-800"
						><Image src={LogoComplete} alt="Logo du restaurant" class="w-auto h-12" /></span
					>
				</a>
				<button type="button" id="menu-close" class="mt-1 p-2.5 text-stone-700">
					<span class="sr-only">Fermer le menu</span>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="h-6 w-6"
						aria-hidden="true"
					>
						<path d="M18 6 6 18"></path><path d="m6 6 12 12"></path>
					</svg>
				</button>
			</div>
			<div class="mt-6 flow-root">
				<div class="-my-6 divide-y divide-gray-500/10">
					<div class="flex flex-col space-y-4 py-5">
						{
							navigation.map((item) => (
								<a
									href={item.href}
									class="-mx-3 block  px-3 py-4 text-base font-semibold leading-7 text-stone-900 hover:bg-gray-50 uppercase"
								>
									{item.name}
								</a>
							))
						}
					</div>
					<!-- <div class="py-6">
						{
							currentUrl.startsWith("/en") ? (
								<a href={currentUrl.replace("/en", "")}>
									<FlagFR class="w-9 h-9 hover:scale-110 transition-all duration-200" />
								</a>
							) : (
								<a href={"/en" + currentUrl}>
									<FlagEN class="w-9 h-9 hover:scale-110 transition-all duration-200" />
								</a>
							)
						}
					</div> -->
				</div>
			</div>
		</div>
	</div>
</header>
